@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

.message {
    width: 100%;
    font-family: "Bilbo Swash Caps", cursive;
    font-size: 100px;
    font-weight: bolder;
    color: violet;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 50%;
    opacity: 0;
    animation: message 2s ease-in-out 6s forwards;
}

.y1 {
    color: #fff;
    animation: y1colorful 2s ease-in-out 5.7s forwards;
}

@keyframes y1colorful {
    0% {
        color: #fff;
    }

    100% {
        color: orange;
    }
}

.y2 {
    color: #fff;
    animation: y2colorful 2s ease-in-out 5.7s forwards;
}

@keyframes y2colorful {
    0% {
        color: #fff;
    }

    100% {
        color: rgb(0, 255, 68);
    }
}

.y3 {
    color: #fff;
    animation: y3colorful 2s ease-in-out 5.7s forwards;
}

@keyframes y3colorful {
    0% {
        color: #fff;
    }

    100% {
        color: rgb(255, 0, 221);
    }
}

.y4 {
    color: #fff;
    animation: y4colorful 2s ease-in-out 5.7s forwards;
}

@keyframes y4colorful {
    0% {
        color: #fff;
    }

    100% {
        color: pink;
    }
}

.old {
    color: #fff;
    position: absolute;
    top: 0%;
    animation: old-animation 3s ease-in-out 4s forwards;
    margin-left: -80px;
}

.year {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
}

.year>span {
    font-size: 175px;
    font-weight: 700;
    font-family: "Popins", sans-serif;
    letter-spacing: -15px;
}

.first_year {
    margin-right: 100px;
}

.new {
    position: absolute;
    right: -100px;
    animation: new-animation 5s ease-in-out 1.5s forwards;

}

@keyframes message {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    100% {
        opacity: 1;
        margin-top: -200px;
    }
}

@keyframes old-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: -700px;
    }
}

@keyframes new-animation {
    0% {
        right: -100px;
    }

    40% {
        right: 635px;
    }

    /* 90%{
        right: 415px;
    } */
    100% {
        right: 515px;
    }
}

.balloon {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    right: -100px;
    margin-top: -285px;
    animation: balloon-animation 5s ease-in-out 1.5s forwards;
}

.balloon::after {
    content: '';
    width: 4px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -100px;
}

.balloon::before {
    content: "";
    border-style: solid;
    border-radius: 0 10px 20px 10px;
    border-color: transparent transparent #fd3553 transparent;
    position: absolute;
    left: 50%;
    bottom: -10px;
}

@keyframes balloon-animation {
    0% {
        right: -200px;
    }

    40% {
        right: 580px;
        top: 50%;
    }

    100% {
        right: 280px;
        top: -200%;
    }
}

.firework {
    position: relative;
    opacity: 0;
    animation: showFire 5s ease-in-out 1.5s forwards;
}
@keyframes showFire {
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.cracker {
    position: absolute;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
}

.cracker::before {
    content: '';
    background-color: gold;
    height: 40px;
    position: absolute;
    left: 0px;
    right: 0;
    animation: fire 2s ease-in-out infinite;
}

@keyframes fire {
    0% {
        top: 100%;
    }

    25% {
        top: 50%;
    }

    50% {
        top: -25%;
    }

    75% {
        top: -50%;
    }

    100% {
        top: -50%;
    }
}

.cracker:nth-child(1) {
    transform: rotate(0deg) translateY(-15px);
}

.cracker:nth-child(2) {
    transform: rotate(30deg) translateY(-15px);
}

.cracker:nth-child(3) {
    transform: rotate(60deg) translateY(-15px);
}

.cracker:nth-child(4) {
    transform: rotate(90deg) translateY(-15px);
}

.cracker:nth-child(5) {
    transform: rotate(120deg) translateY(-15px);
}

.cracker:nth-child(6) {
    transform: rotate(150deg) translateY(-15px);
}

.cracker:nth-child(7) {
    transform: rotate(180deg) translateY(-15px);
}

.cracker:nth-child(8) {
    transform: rotate(210deg) translateY(-15px);
}

.cracker:nth-child(9) {
    transform: rotate(240deg) translateY(-15px);
}

.cracker:nth-child(10) {
    transform: rotate(270deg) translateY(-15px);
}

.cracker:nth-child(11) {
    transform: rotate(300deg) translateY(-15px);
}

.cracker:nth-child(12) {
    transform: rotate(330deg) translateY(-15px);
}
#firework1{
    left: 25%;
    top: 50%;
}
#firework2{
    left: 50%;
    top: 75%;
}
#firework3{
    left: 80%;
    top: 15%;
}
